{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    {% if app.user %}

    {% else %}
    <div>Please Log in to Order<br>
    {% endif %}

    {% if is_granted('ROLE_CUSTOMER') %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('img/burger2.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-dark" href="{{ path('addtobasket', {id: product.id}) }}" role="button">Add to Basket</a>
                    <a class="btn btn-dark" href="{{ path('product_index') }}" role="button">Return</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock %}