{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ItemName</th>
                <th>ItemPrice</th>
                <th>ItemDescription</th>
                <th>IsAvailable</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.itemName }}</td>
                <td>{{ menu.ItemPrice }}</td>
                <td>{{ menu.ItemDescription }}</td>
                <td>
                    <a href="{{ path('menu_index', {'id': menu.id}) }}">Add to Cart</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
